@tailwind base;
@tailwind components;
@tailwind utilities;



.priority-high {
  background-color: #ff4d4f;
  color: #fff;
}

.priority-medium {
  background-color: #faad14;
  color: #fff;
}

.priority-low {
  background-color: #52c41a;
  color: #fff;
}

.login {
  min-height: 88vh;
}

.menuactive {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
  background-color: #2904416f;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
  transition: transform 0.5s ease;
  transform: translateY(300px);
}

@media screen and (max-width: 768px) {
  .menu {
    position: absolute;
    top: -250px;
  }
}